@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.about {
  padding-top: 20px;
  padding-bottom: 20px;

  @include m.tablet {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 270px;
    padding: 60px 48px 42px 48px;
  }

  @include m.desktop {
    padding: 145px 120px 180px 120px;
    grid-template-columns: 1fr 660px;
  }
}

.about__container {
  @include m.container;
  padding-top: 16px;

  @include m.tablet {
    grid-column: 2/-1;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.about::before {
  position: relative;
  content: "";
  display: block;
  width: 622px;
  height: 400px;
  background-image:
    image-set(url("../../img/about-mob.webp") 1x type("image/webp"),
      url("../../img/about-mob@2x.webp") 2x type("image/webp"),
      url("../../img/about-mob.jpg") 1x type("image/jpeg"),
      url("../../img/about-mob@2x.jpg") 2x type("image/jpeg"));
  background-size: 101%;
  background-position: -93px -49px;
  background-repeat: no-repeat;

  @include m.tablet {
    position: absolute;
    height: 331px;
    background-size: 87%;
    z-index: -1;
    background-position: -23px 0px;
    top: 26%;
  }

  @include m.desktop {
    width: 840px;
    height: 498px;
    background-image:
      image-set(url("../../img/about.webp") 1x type("image/webp"),
        url("../../img/about@2x.webp") 2x type("image/webp"),
        url("../../img/about.jpg") 1x type("image/jpeg"),
        url("../../img/about@2x.jpg") 2x type("image/jpeg"));
    background-size: cover;
    background-position: -90px -39px;
    top: 20%;
  }
}

.about__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  gap: 26px;

  @include m.tablet {
    gap: 29px;
  }

  @include m.desktop {
    width: 90%;
  }
}

.about__title {
  position: relative;
  margin-bottom: 42px;

  @include m.tablet {
    margin-bottom: 48px;
  }

  @include m.desktop {
    margin-bottom: 59px;
  }

}

.about__title::before {
  @include m.title-shadow;
  content: "О нас";
}

.about__subtitle {
  margin-bottom: 14px;

  @include m.tablet {
    font-size: 18px;
    margin-bottom: 11px;
  }

  @include m.desktop {
    font-size: 21px;
    margin-bottom: 16px;
  }
}

.about__text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 28px;
  margin: 0;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include m.desktop {
    font-size: 14px;
    line-height: 22px;
  }
}
