@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.adv {
  @include m.container;

  padding-top: 36px;
  padding-bottom: 20px;

  @include m.tablet {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include m.desktop {
    padding-top: 135px;
    padding-bottom: 135px;
  }
}

.adv__title {
  position: relative;
  margin-bottom: 37px;
  text-align: center;

  @include m.tablet {
    margin-bottom: 60px;
  }

  @include m.desktop {
    margin-bottom: 50px;
  }
}

.adv__title::before {
  @include m.title-shadow;

  content: "Преимущества";
  left: 50%;
  transform: translateX(-50%);

  @include m.desktop {
    bottom: 0.5em;
  }
}

.adv__swiper {
  @include m.desktop {
    display: flex;
    padding-bottom: 50px;
    width: 3250px;
    flex-wrap: nowrap;
    // margin-left: 204px;
  }
}

.adv__swiper-container {
  position: relative;

}

.adv .swiper-wrapper {
  @include m.list-reset;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @include m.tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @include m.desktop {
    // width: 1440px;
    flex-wrap: nowrap;

  }
}

.adv .swiper-slide {
  position: relative;
  border: 1px solid v.$additional20;
  padding: 81px 9px 19px;

  @include m.tablet {
    width: 324px;
    min-height: 340px;
    padding: 102px 19px 29px;
  }

  @include m.desktop {
    padding-top: 123px;
    width: 380px;
    min-height: 329px;
  }
}

.adv__item h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;

  @include m.tablet {
    font-size: 16px;
    margin-bottom: 15px;
  }

  @include m.desktop {
    font-size: 18px;
  }
}

.adv__item p {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin: 0;

  @include m.tablet {
    font-size: 14px;
    line-height: 22px;
  }
}
.adv__item--care h3 {
  width: 90%;

  @include m.tablet {
    width: 100%;
  }
}
.adv__item br {
  @include m.tablet {
    display: none;
  }
}

.adv__item::after {
  position: absolute;
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  top: 19px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid v.$additional;
  background-color: transparent;

  @include m.tablet {
    width: 48px;
    height: 48px;
    top: 29px;
  }

  @include m.desktop {
    width: 54px;
    height: 54px;
    top: 39px;
  }
}

.adv__item--safety::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  mask-image: url("/__spritemap#sprite-safety-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$additional;

  @include m.tablet {
    top: 41px;
  }

  @include m.desktop {
    top: 54px;
  }
}

.adv__item--expertise::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  mask-image: url("/__spritemap#sprite-expertise-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$additional;

  @include m.tablet {
    top: 41px;
  }

  @include m.desktop {
    top: 54px;
  }
}

.adv__item--eqipment::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  mask-image: url("/__spritemap#sprite-eqip-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$additional;

  @include m.tablet {
    top: 41px;
  }

  @include m.desktop {
    top: 54px;
  }
}

.adv__item--route::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  mask-image: url("/__spritemap#sprite-route-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$additional;

  @include m.tablet {
    top: 41px;
  }

  @include m.desktop {
    top: 54px;
  }
}

.adv__item--care::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  mask-image: url("/__spritemap#sprite-care-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$additional;

  @include m.tablet {
    top: 41px;
  }

  @include m.desktop {
    top: 54px;
  }
}

.adv__buttons {
  display: none;

  @include m.desktop {
    display: flex;
    top: 100%;
    right: 46.8%;
  }
}
