@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding: 20px;
  background-color: v.$additional;
  text-decoration: none;
  color: v.$white;
  border: 1px solid transparent;
  box-sizing: border-box;
  &:hover {
    background-color: transparent;
    border-color: v.$blue;
    color: v.$blue;
  }

  &:focus {
    background-color: v.$white;
    border-color: v.$blue;
    color: v.$blue;
    border-color: transparent;
  }

  &:active {
    background-color: v.$blue;
    color: v.$white;
    border-color: transparent;
  }

  &--disabled {
    background-color: v.$disabled;
  }
}
