@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.card__text-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 20px 30px;
  color: v.$white;
  z-index: 2;

  // @include m.tablet {
  //   gap: 15.5px
  // }
}

.card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
}

.card__location {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  background-color: v.$additional;
  padding: 8px 12px 8px 34px;
  margin: 0;
  text-align: center;

  @include m.tablet {
    padding-right: 13px;
  }
}

.card__location::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 13px;
  left: 16px;
  mask-image: url("/__spritemap#sprite-pin-color-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: v.$white;

  @include m.tablet {
    left: 15.5px;
  }
}

.card__period {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}

.card__period-day,
.card__period-night {
  position: relative;
  margin: 0;
  padding: 4px 0 4px 32px;
  font-weight: 500;
  font-size: 12px;
}

.card__period-day::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 1px;
  mask-image: url("/__spritemap#sprite-sun-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.card__period-night::before {
  position: absolute;
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  left: 0;
  top: 1px;
  mask-image: url("/__spritemap#sprite-moon-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.card__title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;

  @include m.desktop {
    width: 90%;
  }
}

.card__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: v.$white;
  bottom: -15px;
  left: 0;
}

.card__details {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
}

.card__details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  margin: 0;
}

.card__details-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
}

.card__details-desk {
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  margin: 0;
}

.card__details-desk--star {
  margin-right: 2px;
  margin-left: 2px;
  margin-top: -1px;
  transform: scale(1.03);
}
