@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.card__location {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  background-color: v.$additional;
  padding: 8px 12px 8px 34px;
  margin: 0;
  text-align: center;
}

.card__location::before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  left: 13px;
  top: 5px;
  mask-image: url("/__spritemap#sprite-pin-color-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.card__period {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}

.card__period-day,
.card__period-night {
  position: relative;
  margin: 0;
  padding: 4px 0 4px 32px;
  font-weight: 500;
  font-size: 12px;
}

.card__period-day::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  mask-image: url("/__spritemap#sprite-sun-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.card__period-night::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  mask-image: url("/__spritemap#sprite-moon-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.card__details {
  display: grid;
grid-template-columns: repeat(3,max-content);
  gap: 8px;
}

.card__details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  margin: 0;
}

.card__details-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
}

.card__details-desk {
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  margin: 0;
}

.card__details-desk--4 {
  content: "";
  display: block;
  width: 84px;
  height: 16px;
  mask-image: url("/__spritemap#sprite-stars-4-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.card__details-desk--5 {
  content: "";
  display: block;
  width: 84px;
  height: 16px;
  mask-image: url("/__spritemap#sprite-stars-5-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}
