@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.footer {
  @include m.container;
  padding-top: 22px;

  @include m.tablet {
    padding-top: 33px;
  }

  @include m.desktop {
    padding-top: 41px;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 19px;

  @include m.tablet {
    flex-direction: row;
    gap: 36px;
  }

  @include m.desktop {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
  }
}

.footer__logo {
  width: 142px;
  height: 42px;
  color: v.$primary;
  align-self: center;

  @include m.desktop {
    margin-left: 29px;
  }
}

.footer__list {
  @include m.list-reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 7px;
  column-gap: 50px;

  @include m.tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }

  @include m.desktop {
    justify-content: center;
    gap: 19px;
  }
}

.footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav .nav__link {
  @include m.desktop {
    font-size: 16px;
  }
}

.footer__item:first-child,
.footer__item:nth-child(2),
.footer__item:nth-child(3) {
  grid-column: 1/2;
}

.footer__item:nth-child(4),
.footer__item:nth-child(5),
.footer__item:nth-child(6) {
  grid-column: 2/-1;
}

.footer__item:first-child,
.footer__item:nth-child(4) {
  grid-row: 1/2;
}

.footer__item:nth-child(2),
.footer__item:nth-child(5) {
  grid-row: 2/3;
}

.footer__link {
  display: none;

  @include m.desktop {
    display: block;
    color: v.$primary;
    text-align: right;
  }
}

.footer__conf {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  text-align: center;
}
