@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.form {
  position: relative;
  display: grid;
  padding: 174px 31px;
  color: v.$white;
  background-color: v.$additional;
  background-image:
    image-set(url("../../img/form/form-bg.webp") 1x type("image/webp"),
      url("../../img/form/form-bg@2x.webp") 2x type("image/webp"),
      url("../../img/form/form-bg.jpg") 1x type("image/jpeg"),
      url("../../img/form/form-bg.jpg") 2x type("image/jpeg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include m.tablet {
    padding-top: 183px;
    padding-bottom: 183px;
  }

  @include m.desktop {
    background-image:
      image-set(url("../../img/form/form-desk.webp") 1x type("image/webp"),
        url("../../img/form/form-desk@2x.webp") 2x type("image/webp"),
        url("../../img/form/form-desk.jpg") 1x type("image/jpeg"),
        url("../../img/form/form-desk.jpg") 2x type("image/jpeg"));

    padding: 292px 240px;
  }
}

.form::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.form__wrapper {
  display: grid;
  margin: 0 auto;
  margin-top: 2px;
  z-index: 2;

  @include m.tablet {
    margin-top: 4px;
  }
}

.form__wrapper h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;

  @include m.tablet {
    font-size: 25px;
    margin-bottom: 22px;
  }

  @include m.desktop {
    font-size: 35px;
    margin-bottom: 16px;
  }
}

.form__wrapper p {
  width: 85%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

.form__container {
  display: grid;
  grid-template-columns: 258px;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;

  @include m.tablet {
    grid-template-columns: 360px;
    margin-top: 25px;
    gap: 12px;
  }

  @include m.desktop {
    grid-template-columns: 360px 360px 180px;
    gap: 30px;
    margin-top: 40px;
  }
}

.form__input-container {
  position: relative;
}

.form__label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 16px;
  line-height: 100%;
  color: v.$primary50;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form__input {
  width: 100%;
  padding: 17px 15px 15px 14px;
  border-radius: 2px;
  border: 1px solid v.$additional10;

  @include m.tablet {
    padding: 20px 15px 17px 29px;
  }

  @include m.desktop {
    padding-bottom: 19px;
  }
}

.form__input::placeholder {
  opacity: 0;
  font-size: 16px;
  line-height: 100%;
  color: v.$primary50;
  transition: opacity 0.3s ease;

}

.form__input:focus.form__input::placeholder {
  opacity: 1;
}

.form__input:focus+.form__label {
  opacity: 0;
}

.form__button {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 19px;

  @include m.tablet {
    padding-top: 19px;
  }
}
