@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.form {
  display: grid;
  gap: 20px;
  padding: 174px 31px;
  color: v.$white;
  background-color: v.$additional;
  background-image:
    image-set(url("../../img/form-bg.webp") 1x type("image/webp"),
      url("../../img/form-bg@2x.webp") 2x type("image/webp"),
      url("../../img//form-bg.jpg") 1x type("image/jpeg"),
      url("../../img/form-bg@2x.jpg") 2x type("image/jpeg"));
  background-repeat: no-repeat;
  background-position: calc(50% - 73px) 51%;
  background-size: auto 116%;
}
.form__wrapper {
  display: grid;
  grid-template-columns: 258px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2px;
}

.form__wrapper h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}

.form__wrapper p {
  width: 85%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
}

.form__container {
  display: grid;
  grid-template-columns: 258px;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.form__input {
  width: 100%;
  padding: 17px 16px;
  border-radius: 2px;
  border: 1px solid v.$additional10;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 100%;
  color: v.$primary50;
}
.form__button {
  width: 100%;
  padding-top: 21px;
    padding-bottom: 19px;
}
