@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.header {
  position: relative;
  background-color: v.$additional;
  z-index: 100;
}

.header__container {
  @include m.container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 16px;
  padding-top: 15px;
  padding-bottom: 13px;
  z-index: 10;
  column-gap: 6px;

  @include m.tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include m.desktop {
    grid-template-columns: 205px 1fr max-content;
    gap: 30px;
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.header__logo {
  width: 142px;
  height: 42px;
  color: v.$white;
  grid-column: 2/-1;
  grid-row: 1/2;
  z-index: 10;

  @include m.tablet {
    grid-column: 2/3;
    justify-self: center;
  }

  @include m.desktop {
    grid-column: 1/2;
    margin-left: 1px;
  }
}

.header__link {
  font-weight: 600;
  color: v.$white;
  text-align: right;
  text-decoration: none;
  grid-column: 2/-1;
  grid-row: 2/-1;
  z-index: 10;
  @include m.tablet {
    grid-column: 3/-1;
    grid-row: 1/2;
    font-size: 16px;
  }
  @include m.desktop {
    grid-column: 3/-1;
    font-size: 18px;
    margin-top: 3px;
  }


}
