@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.hero__swiper-container {
  position: relative;
  width: 100%;
}

.main-slider__wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
  z-index: 2;
  margin-bottom: 15px;

  @include m.tablet {
    margin-bottom: 60px;
  }

  @include m.desktop {
    gap: 134px;
    margin-bottom: 13px;
  }
}

.main-slider__list {
  @include m.list-reset;
}
.main-slider__item--kamchatka .main-slider__wrapper {
  @include m.tablet{
    margin-bottom: 468px;
  }
}

.main-slider__item--kamchatka::before {
  @include m.tablet {
  position: absolute;
  display: block;
  content: "";
  width: 442px;
  height: 365px;
  background-image:
    image-set(url("../../img/kamchatka-cards.webp") 1x type("image/webp"),
      url("../../img/kamchatka-cards@2x.webp") 2x type("image/webp"),
      url("../../img/kamchatka-cards.png") 1x type("image/jpeg"),
      url("../../img/kamchatka-cards@2x.png") 2x type("image/jpeg"));
  background-size: cover;
  background-repeat: no-repeat;
  top: 472px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  }
  @include m.desktop {
    width: 410px;
    height: 459px;
  }
}

.main-slider .swiper-slide {
  position: relative;
  width: 100%;
  display: grid;
  align-items: start;
  justify-items: center;
  min-height: 568px;
  transform: none;
  padding-top: 60px;
  padding-bottom: 60px;

  @include m.tablet {
    min-height: 1034px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include m.desktop {
    min-height: 800px;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-slider__item {
  @include m.container;

  background-color: v.$primary;
  overflow: hidden;
}

.main-slider__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
  z-index: 1;
}

.main-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
  width: 100vw;
  height: 100%;

  @media (min-width >= 360px) {
    object-position: bottom center;
  }
}

.main-slider__item div:first-child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include m.desktop {
    width: 80%;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.main-slider__item h3 {
  font-weight: 800;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: v.$white;
  margin: 0;
  margin-bottom: 15px;

  @include m.tablet {
    font-size: 56px;
    margin-bottom: 13px;
  }

  @include m.desktop {
    font-size: 77px;
    text-align: left;
    margin-bottom: 22px;
  }
}

.main-slider__item p {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: v.$white;
  margin: 0;
  margin-bottom: 60px;

  @include m.tablet {
    font-size: 17px;
    line-height: 24px;
    padding: 0 102px;
    margin-bottom: 37px;
  }

  @include m.desktop {
    width: 45%;
    text-align: left;
    padding: 0;
  }
}

.main-slider__link {
  padding: 20px 33px 18px;
}

.main-slider__info {
  display: none;

  @include m.desktop {
    width: max-content;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
  }
}

.main-slider__info-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  padding: 14px 20px 12px 39px;
  border: 1px solid v.$white;
  color: v.$white;
}

.main-slider__info-block--time::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  left: 18px;
  mask-image: url("/__spritemap#sprite-moon-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.main-slider__info-block--level::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  left: 18px;
  mask-image: url("/__spritemap#sprite-level-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$white;
}

.main-slider .swiper-pagination {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  bottom: 40px;
  left: calc(50% - 44px);
  z-index: 10;

  @include m.tablet {
    bottom: 40px;
    left: calc(50% - 50px);
  }

  @include m.desktop {
    bottom: 113px;
    left: unset;
    right: calc(10% - 24px);
    transform: none;
  }
}

.main-slider__bullet {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid v.$white;

  @include m.tablet {
    width: 20px;
    height: 20px;
  }
}

.main-slider__bullet:hover {
  background-color: #D9D9D9;
}

.main-slider__bullet:active {
  background-color: v.$white50;
}

.main-slider__bullet:focus::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 100%;
  bottom: -4px;
  right: -4px;
  background-color: transparent;
  border: 1px solid v.$white50;
  @include m.tablet {
    width: 26px;
    height: 26px;
  }
}

.main-slider__bullet--active {
  background-color: v.$white;
}
