@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.tours {
  @include m.container;

  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 30px;

  @include m.tablet {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @include m.desktop {
    padding-top: 123px;
    padding-bottom: 110px;
  }
}

.tours__swiper {
  position: relative;
  display: grid;
  padding-top: 40px;
  overflow: hidden;

  @include m.tablet {
    top: -25px;
    padding-top: 60px;
  }

  @include m.desktop {
    top: -38px;
    padding-top: 88px;
  }
}

.tours__title {
  position: relative;
}

.tours__title::before {
  @include m.title-shadow;

  content: "Ближайшие туры";
}

.tours__list {
  @include m.list-reset;
}

.tours .swiper-slide {
  width: 290px;
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 416px;
}

.tours .swiper-slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
  z-index: 1;
}

.tours__item--elbrus {
  background-color: v.$additional;
  background-image:
    image-set(url("../../img/tours-elbrus.webp") 1x type("image/webp"),
    url("../../img/tours-elbrus@2x.webp") 2x type("image/webp"),
    url("../../img/tours-elbrus.jpg") 1x type("image/jpeg"),
    url("../../img/tours-elbrus@2x.jpg") 2x type("image/jpeg"));
  background-size: 135%;
  background-position: -51px -3px;
  background-repeat: no-repeat;
  z-index: 2;

  @include m.tablet {
    background-size: 116%;
    background-position: -28px -1px;
  }

  @include m.desktop {
    background-size: cover;
    background-position: 0 0;
  }
}

.tours__item--beluha {
  background-color: v.$additional;
  background-image:
    image-set(url("../../img/tours-beluha.webp") 1x type("image/webp"),
    url("../../img/tours-beluha@2x.webp") 2x type("image/webp"),
    url("../../img/tours-beluha.jpg") 1x type("image/jpeg"),
    url("../../img/tours-beluha@2x.jpg") 2x type("image/jpeg"));
  background-size: 135%;
  background-position: -51px -3px;
  background-repeat: no-repeat;

  @include m.tablet {
    background-size: 115%;
    background-position: -26px 0;
  }

  @include m.desktop {
    background-size: cover;
    background-position: 0 0;
  }
}

.tours__item--fisht {
  background-color: v.$additional;
  background-image:
    image-set(url("../../img/tours-fisht.webp") 1x type("image/webp"),
    url("../../img/tours-fisht@2x.webp") 2x type("image/webp"),
    url("../../img/tours-fisht.jpg") 1x type("image/jpeg"),
    url("../../img/tours-fisht@2x.jpg") 2x type("image/jpeg"));
  background-size: cover;
  background-repeat: no-repeat;
}

.tours__item--manaraga {
  background-color: v.$additional;
  background-image:
    image-set(url("../../img/tours-manaraga.webp") 1x type("image/webp"),
    url("../../img/tours-manaraga@2x.webp") 2x type("image/webp"),
    url("../../img/tours-manaraga.jpg") 1x type("image/jpeg"),
    url("../../img/tours-manaraga@2x.jpg") 2x type("image/jpeg"));
  background-size: cover;
  background-repeat: no-repeat;
}

.tours__link {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: v.$primary;
  text-decoration: none;
  align-self: center;
  margin-top: 35px;

  @include m.tablet {
    margin-top: 11px;
    font-size: 16px;
    gap: 10px;
  }

  @include m.desktop {
    margin-top: 25px;
  }
}

.tours__link::after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  border-left: 2px solid v.$primary;
  border-top: 2px solid v.$primary;
  background-color: transparent;
  transform: rotate(135deg);
}
