@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.training {
  @include m.container;
  padding-top: 36px;
}

.training .swiper-wrapper {
  padding: 0;
}

.training .swiper-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.training__main-title {
  position: relative;
  margin-bottom: 35px;
}

.training__main-title::before {
  @include m.title-shadow;
  content: "Обучение";
}

.training__text {
  margin-bottom: 25px;
}

.training__process {
  @include m.container
}

.training__subtitle {
  margin-bottom: 25px;
}

.training__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-left: 2px solid v.$additional;
  padding-left: 15px;
}

.training__item {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 82%;
  font-size: 12px;
  line-height: 18px;
  padding-left: 40px;
}

.training__item--drive::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-drive-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: v.$primary;
}

.training__item--eqip::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-eqip-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$primary;
}

.training__item--barrier::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-mountain-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$primary;
}

.training__item--ecology::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-forest-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$primary;
}
