@use "../global/variables.scss" as v;
@use "../global/mixin.scss" as m;

.training {
  @include m.container;
  padding-top: 36px;
  padding-bottom: 20px;

  @include m.tablet {
    padding-top: 60px;
  }
}
.training__swiper {
  position: relative;
  overflow: hidden;
  padding-top: 9px;
  padding-bottom: 11px;

  @include m.tablet {
    padding-top: 51px;
    top: -28px;
  }
}
.training .swiper-wrapper {
  padding: 0;
}

.training .swiper-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.training__main-title {
  position: relative;
  margin-bottom: 34px;
}

.training__main-title::before {
  @include m.title-shadow;
  content: "Обучение";
}


.training__subtitle {
  margin-bottom: 25px;
}

.training__list {
  @include m.list-reset;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 21px;
  margin-left: 6px;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 174px;
    row-gap: 104px;
  }
}
.training__list::before {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 90%;
  background-color: v.$additional;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  @include m.tablet {
    display: none;
  }
}

.training__item {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 88%;
  font-size: 12px;
  line-height: 18px;
  padding-left: 34px;
}
.training__item::after {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: v.$additional;
  left: -12%;
  top: 50%;
  transform: translateY(-50%);

  @include m.tablet {
    display: none;
  }
}


.training__item--drive::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-drive-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: v.$primary;
}

.training__item--eqip::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-eqip-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$primary;
}

.training__item--barrier::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-mountain-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$primary;
}

.training__item--ecology::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  mask-image: url("/__spritemap#sprite-forest-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: v.$primary;
}
