@use "./variables.scss" as v;

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title-shadow {
  position: absolute;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: v.$primary;
  bottom: 0.4em;
  opacity: 0.03;
  @media (min-width: v.$tablet-width) {
    font-size: 40px;
    bottom: 0.2em;
  }
  @media (min-width: v.$desktop-width) {
    font-size: 55px;
  }
}

@mixin only-mobile {
  @media (max-width: v.$only-mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet-width) {
    @content;
  }
}

@mixin only-tablet {
  @media (max-width: v.$only-tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop-width) {
    @content;
  }
}

@mixin container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: v.$tablet-width) {
    width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: v.$desktop-width) {
    width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
