$primary: #2D383F;
$primary30: rgba(45, 56, 63, 0.3);
$primary60: rgba(45, 56, 63, 0.6);
$white: #FFFFFF;
$additional: #0266C1;
$additional20: rgba(2,102,193,0.2);
$blue: #1C3374;
$disabled: #999999;
$only-mobile-width: 766px;
$tablet-width: 768px;
$only-tablet-width: 1439px;
$desktop-width: 1440px;
